.maze-runner-cell {
    border: 1px solid black;
    margin: 1px;

    width: 30px;
    height: 30px;

    cursor: pointer;
}

.maze-runner-cell-start {
    background-color: green;
}

.maze-runner-cell-end {
    background-color: red;
}

.maze-runner-cell-obstacle {
    background-color: gray;
}